/*author:starttemplate*/
/*reference site : starttemplate.com*/
body {
    background-image:url('https://i.redd.it/o8dlfk93azs31.jpg');
    background-position:center;
    background-size:cover;
    
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive!important;
  }
  
  .container {
      padding: 110px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff!important;
      opacity: 1; /* Firefox */
      font-size:18px!important;
  }
  
  .form-control{
      background:transparent!important;
      color:white!important;
      font-size: 18px!important;
  }
  h1{
      color:white!important;
  }
  h4 { 
   border:0 solid #fff; 
   border-bottom-width:1px;
   padding-bottom:10px;
   text-align: center;
  }
  
  .form-control {
      border-radius: 10px;
  }
  .text-white{
      color: white!important;
  }
  .wrapper {
      text-align: center;
  }
  .footer p{
      font-size: 18px;
  }

.piepagina{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}

/* Login */
.cascading-right {
    margin-right: -50px;
  }

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}
